.background {
  background-attachment: fixed;
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 595px;
}

.chat-container {
  height: 400px;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left:21%;

  padding: 5%;
  text-align : left;
  background-color: lightyellow;
}

#chat-background {
  height: 200px;
  margin-bottom: 2%;
  padding-bottom: 5%;
  text-align : left;
  background-color: lightgreen;
}

.chat {
  height: 100%;
  overflow-y: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 5%;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}

.statement-container {
  padding-bottom: 15px;
}

.input-container {
  height: 50px;
  padding: 3%;
  text-align : left;
  background-color: lightpink;
}

.submit-button {
  margin-top: 2%;
  text-align: center;
}
