.background {
  background-attachment: fixed;
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 500px;

}

.chat-container {
  width: 50%;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left:20%;

  padding: 5%;
  text-align : left;
  background-color: lightyellow;
}